@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b7c9c9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #bad4d1;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  right: 4px;
  margin-top: 1px;
}